@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --lose-color: #dc3545;
  --win-color: #28a745;
}
body {
  font-family: "Roboto", sans-serif;
  background: #333;
  color: #ccc;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
  /* margin-top: 50px; */
}

.restart-btn {
  display: none;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 1rem 0;
}

.restart-btn:hover {
  background: var(--primary-color);
  color: var(--light-color);
}

.header {
  text-align: center;
  margin: 2rem 0;
}

.header h1 {
  margin-bottom: 1rem;
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
  border-radius: 5px !important;
}
.score p:first-child {
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px !important;
}

.score p:last-child {
  background: var(--light-color);
  color: var(--dark-color);
  border-radius: 5px !important;
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  text-align: center;
}
.choices {
  cursor: pointer;
}

.choice:hover {
  color: var(--primary-color);
}

.text-win {
  color: var(--win-color);
}
.text-lose {
  color: var(--lose-color);
}

@media (max-width: 700px) {
  .choice {
    font-size: 110px !important;
  }
}
@media (max-width: 500px) {
  .choice {
    font-size: 70px !important;
  }
}
@media (max-width: 425px) {
  .choice {
    font-size: 40px !important;
  }
}
