* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;

  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Makes the image cover the entire background */
  background-position: center; /* Centers the background image */
  background-attachment: fixed; /* Optional: makes background fixed during scroll */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.gradient-circle {
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  position: absolute;
  top: -10px;
  left: -10px;
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
}

.circle {
  background: #010f1c;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  /* background: saddlebrown; */
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

.pointer {
  background: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}
.container.grow {
  animation: grow 3s forwards linear;
}
.container.shrink {
  animation: shrink 3s forwards linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
