@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #333 !important;
  height: 100vh;
  overflow: hidden;
}

#chain {
  font-size: 4rem;
  color: #fff;
}
#battery {
  font-size: 5rem;
  color: #fff;
}

#hourglass {
  font-size: 5rem;
  color: #fff;
}
