@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #ccc;
}

.button {
  background: coral;
  padding: 1em 2em;
  color: #fff;
  bottom: 0;
  border-radius: 5px;
  border: none;
  margin: 20px;
}

.button:hover {
  cursor: pointer;
  background: orangered;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modal-content {
  background: #f4f4f4;
  margin: 30% auto;

  border: 1px solid #888;
  width: 70%;
  position: relative;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

  animation: modalOpen 2s;
}

.closeBtn {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header {
  background: coral;
  padding: 15px;
  color: #fff;
}
.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-body {
  padding: 10px 20px;
}
.modal-footer {
  background: coral;
  text-align: center;
  padding: 5px;
  color: #fff;
}
.modal.open {
  display: block;
}
