@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #333;
  color: #fff;
  overflow: hidden;
}

.landing {
  position: relative;
  background-image: url("https://preview.ibb.co/c7Drsn/showcase.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.landing-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 50px;
}

.landing h1 {
  font-size: 50px;
}

.landing p {
  font-size: 20px;
}

.countdown {
  font-size: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.countdown div {
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 15px;
  opacity: 0.7;
  background: #000;
}

.countdown span {
  display: block;
  font-size: 25px;
}

.countdown div:first-child {
  background: #17a2b8;
}

@media (max-width: 650px) {
  .landing img {
    width: 70%;
  }
  .landing h1 {
    font-size: 40px;
  }

  .countdown {
    font-size: 30px;
    flex-direction: column;
  }
  .countdown div {
    display: none;
  }
  .countdown div:first-child {
    display: block;
    width: 80%;
    padding: 10px;
  }
}

@media (max-height: 600px) {
  img {
    width: 20%;
  }
  p {
    display: none;
  }
}

@media (max-height: 500px) {
  img {
    padding-bottom: 50px;
  }
  h1 {
    display: none;
  }
}
