@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: #fff;

  /* Add these for full-screen background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

@media (max-width: 700px) {
  #time {
    font-size: 6rem;
  }
}
