@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;

  height: 100vh;
  overflow: hidden;
  background: #333
    url("https://images.unsplash.com/photo-1514565131-fce0801e5785?q=80&w=956&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  color: #ccc;
  width: 100%;
  background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  margin-left: 50px;
  padding: 0 3rem;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
  text-shadow: 2px 2px 4px #000;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: #aaa;
}

.txt-type > .txt {
  border-right: 3px solid #666;
  border-radius: 3px;
  padding-right: 5px;
  animation: blink 0.7s infinite;
}

@media (min-width: 1200px) {
  .container {
    margin-left: 100px;
    padding: 0 6rem;
  }
  h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  .container {
    margin-left: 20px;
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
