@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #333;
  color: #fff;
}

.fill {
  background-image: url("https://plus.unsplash.com/premium_photo-1722944969391-1d21a2d404ea?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fHhIeFlUTUhMZ09jfHxlbnwwfHx8fHw=");
  position: relative;
  height: 100%;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 3px salmon solid;
  background-color: white;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}
