@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #333;

  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list-group {
  border: none !important;
}
.form-control {
  height: auto; /* Or a custom value like `30px` */
}

.list-group-item {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 10px;
}
