@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body,
#slider,
.wrap,
.slide-content {
  font-family: "Roboto", sans-serif;

  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(/image01.jpg);
}
.slide2 {
  background-image: url(/image02.jpg);
}
.slide3 {
  background-image: url(/image03.jpg);
}
.slide4 {
  background-image: url(/image04.jpg);
}
.slide5 {
  background-image: url(/image05.jpg);
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 2rem;
}
#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 2rem;
}
